<ion-view cache-view="false" hide-nav-bar="false">
  <ion-nav-title>{{ 'MENU_ITEM_SCHEDULE' | translate}}</ion-nav-title>
  <ion-content>
    <div ui-calendar="uiConfig.calendar" id="calendar" ng-model="eventSources"></div>
    <div class="event-header">{{eventHeader | translate}}</div>
    <div ng-show="eventDetails" class="event-details">{{eventDetails.title | translate}}<br/><br/>
      <table ng-show="meds != null" class="med-details">
        <tr>
          <td>{{medImage | translate}}</td>
          <td>{{medName | translate}}</td>
          <td>{{medQuatity | translate}}</td>
        </tr>
        <tr ng-repeat="med in meds">
          <td><img ng-src="{{med.url}}" class="med-pic" /></td>
          <td>{{med.name}}</td>
          <td>{{med.quatity}}</td>
        </tr>
      </table>
      <span ng-show="apptDetails != null">{{apptDetails | translate}}</div>
    </div>
  </ion-content>
</ion-view>
